* {
    margin: 0%;
}

body {
    font-family: 'arial', Courier, monospace;
}

nav, nav ul, .nom-img-logo a {
    display: flex;
}
    nav ul, .nom-img-logo {
        width: 50%;
    }
    .nom-img-logo img {
        height: 40px;
        width: 40px;
    }
    nav li {
        list-style-type: none;
        padding: 0px 10px ;
    }

article, section{
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-bottom: 30px;
}
    ol {
        margin-bottom: 30px;
    }

    h1 {
        margin-bottom: 20px;
    }

    p {
        text-align: center;
    }

    #logo-cr    {
        height: 200px;
        width: 300px;
    }

    a img {
        height: 100px;
        width: 100px;
    }

.aside-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
}

.gauche {
    width: 70%;
}

table {
    margin-bottom: 50px;
}
    table, tr, th,td{
        border-collapse: collapse;
        border: 2px solid #000;
    }

form {
    margin-bottom: 200px;
}

