* {
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar, nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 0px 10px ;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px dashed blue ;
}

table, td, th {
    border-collapse: collapse;
    border: 2px solid black;
}


